body{
	border: 52px dotted #4dff4d;
}
.first{
	border: 45px dotted #00b33c;
	margin-left:10%;
	margin-bottom:1px;
	margin-right:20%;
	font-family:"Verdana";
	text-decoration:underline;
}
.second {
 padding-left:10px;
 padding-right:30px;
 padding-bottom:40px;
 padding-top:10px;
 border:33px dashed #00ff00;
}
